---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PageBlocks from "../components/PageBlocks.astro";
import BreadCrumbs from "../components/BreadCrumbs.astro";
import HeroDetail from "../components/HeroDetail.astro";
import Person from "../components/Person.astro";
import { marked } from "marked";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  console.log(pages.map((i) => i.data.title));

  return pages
    .filter((i) => i.data.title !== "home")
    .map((page) => {
      let slug = page.id;
      return {
        params: {
          slug,
        },
        props: { page },
      };
    });
}

const { slug } = Astro.params;
const { page } = Astro.props;

const blocks = page.data.blocks;
const links = blocks.filter((b: any) => b.linked);

const teamBlock = page.data.teamBlock;

const heroBlock = page.data.hero;
let hero = undefined;
if (heroBlock && heroBlock.image) {
  hero = {
    item: {
      data: {
        title: heroBlock.title,
        description: heroBlock.text,
        image: {
          url: heroBlock.image,
          alt: heroBlock.title,
        },
      },
    },
  };
}
---

<Layout>
  <div class='container my-5'>
    <BreadCrumbs path={[slug]} />
  </div>
  {hero && <HeroDetail {...hero} />}
  <div class='container my-5'>
    {!hero && <h1>{page.data.title}</h1>}
    <!-- <small>updated on: {page.data.date}</small> -->
    <PageBlocks blocks={blocks} links={links} />

    <div class='container my-5'>
      <h2>{teamBlock?.title}</h2>
      {teamBlock?.body && <div set:html={marked.parse(teamBlock?.body)} />}
      <div class='row'>
        {
          teamBlock?.team?.map((p: any) => (
            <div class='col-12 col-md-6 col-lg-4'>
              <Person {...p.person} />
            </div>
          ))
        }
      </div>
    </div>

    {
      page.rendered?.html && (
        <div class='container my-5'>
          <div set:html={page.rendered?.html} />
        </div>
      )
    }
  </div>
</Layout>
