---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import CardEvent from "../components/CardEvent.astro";
import CardWork from "../components/CardWork.astro";
import HeroHome from "../components/HeroHome.astro";
import CTA from "../components/CTA.astro";
import CardNews from "../components/CardNews.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const allNews = await getCollection("news");
const allEvents = await getCollection("events");
const allWorks = await getCollection("works");

const home: any = await getCollection("home");

const hero = home.find((item: any) => item.id === "hero").data;
const newsletter = home.find((item: any) => item.id === "newsletter").data;
const cta = home.find((item: any) => item.id === "cta").data;
const sections = home.find((item: any) => item.id === "sections").data;
---

<Layout>
  {hero && <HeroHome {...hero} />}

  {
    sections?.map((section: any, index: number) => {
      const odd = index % 2 === 0;
      const cn = odd ? "bg-gray" : "";
      return (
        <div class={cn}>
          <div class='container my-5'>
            <div class='my-5'>
              <h3>{section.title}</h3>
              {section.type === "news" && (
                <div class='mt-5'>
                  <div class='row row-cols-1 row-cols-lg-3 gx-lg-5 gy-5'>
                    {allNews.map((item) => (
                      <div class='col'>
                        <CardNews {...item.data} slug={item.id} />
                      </div>
                    ))}
                  </div>
                </div>
              )}
              {section.type === "events" && (
                <div class='row'>
                  <div class='row gap-4 mt-5'>
                    {allEvents.map((item) => (
                      <div>
                        <CardEvent {...item.data} slug={item.id} />
                      </div>
                    ))}
                  </div>
                </div>
              )}
              {section.type === "works" && (
                <div class='row'>
                  <div class='mt-5'>
                    <div class='row row-cols-1 row-cols-lg-3 gx-lg-5 gy-5'>
                      {allWorks.map((item) => (
                        <div class='col'>
                          <CardWork {...item.data} slug={item.id} />
                        </div>
                      ))}
                    </div>
                  </div>
                </div>
              )}
            </div>
          </div>
        </div>
      );
    })
  }

  {
    newsletter && (
      <div class='container my-5'>
        <CTA {...newsletter} />
      </div>
    )
  }

  {
    cta && (
        <CTA {...cta} />
    )
  }
</Layout>
