---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const allNews = await getCollection("news");
const allEvents = await getCollection("events");
const allWorks = await getCollection("works");

---

<Layout>
  <div class='container my-5'>

    <a href="/news" class="link-secondary">News</a>
    <div class="bg-secondary text-white p-3">
      this is a box
    </div>
      <h3>News</h3>
      {
        allNews.map((item) => {
          return <div>{item.data.title}</div>;
        })
      }
    <h3>Events</h3>
    {
      allEvents.map((item) => {
        return <div>{item.data.title}</div>;
      })
    }
    <h3>Works</h3>
    {
      allWorks.map((item) => {
        return <div>
					<img src={item.data.image.url} alt={item.data.image.alt} height=200/>
					{item.data.title}</div>;
      })
    }
    <h3>News</h3>
    {
      allNews.map((item) => {
        return <div>{item.data.title}</div>;
      })
    }
  </div>
</Layout>
