---
const props = Astro.props;
// console.log("card img", props);
const { image, title, alt, slug, author } = props;
---

<style lang="scss">
  @import "../styles/variables";

  .card {
    --bs-link-color: #{$color-text-accent};
  }

  .author {
    font-size: 1.125rem;
    font-weight: 600;
    color: #{$color-text-secondary};
  }
</style>
<div class="card-wrapper">
  <div class="card card-img no-after">
    {
      image && (
        <div class="img-responsive-wrapper">
          <div class="ratio ratio-1x1">
            <figure class="img-wrapper">
              <img src={image.url} alt={alt} class="img-fluid h-100 w-100" />
            </figure>
          </div>
        </div>
      )
    }
    <div class="card-body d-flex flex-column justify-content-between p-0 mt-4 gap-3">
      <a href={`/works/${slug}`}
        ><h4 class="card-title h4 multiline-ellipsis-2 mb-0">{title}</h4></a
      >
      <span class="author">{author}</span>
      <span class="font-monospace small fw-normal text-muted fs-6">
        1931
      </span>
    </div>
  </div>
</div>
