---
const props = Astro.props;
// console.log("card img", props);
const { image, title, link, alt, description, pubDate, slug } = props;
const date = new Date(pubDate);
---

<style lang="scss">
  @import "../styles/variables";

  .card-news-wrapper {
    padding: 0;
  }

  .card {
    --bs-card-bg: white;
    --bs-link-color: #{$color-text-accent};

    .card-description {
      color: #{$color-text-secondary};
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.75rem; 
      letter-spacing: 0;    
    }
  }
</style>

<div class='card-wrapper card-news-wrapper shadow rounded overflow-hidden h-100'>
  <div class='card card-img no-after'>
    {
      image && (
        <div class='img-responsive-wrapper ratio ratio-21x9'>
          <figure>
            <img
              src={image.url}
              alt={alt}
              class='w-100 h-100 object-fit-cover'
            />
          </figure>
        </div>
      )
    }
    <div class='card-body d-flex flex-column justify-content-between'>
      <div>
        <a href={`/news/${slug}`}
          ><h4 class='card-title h4 multiline-ellipsis-2'>{title}</h4></a
        >
        <p class='card-description font-serif multiline-ellipsis-7'>
          {description}
        </p>
      </div>
      <span class='font-monospace small fw-normal text-muted mt-4 text-end'>
        {
          date.toLocaleDateString("it-IT", {
            day: "numeric",
            month: "long",
            year: "numeric",
          })
        }
      </span>
    </div>
  </div>
</div>
