---
const props = Astro.props;
const { image, title, text, date, slug } = props;
---

<div class='card no-after mb-3 shadow'>
  <div class='row'>
    <div class='col-md-6'>
      {
        image && (
          <img
            class='img-fluid rounded-start'
            src={image.url}
            alt={image.alt}
          />
        )
      }
    </div>
    <div class='col-md-6'>
      <div class='card-body'>
        <a class='read-more' href={`/events/${slug}`}>
          <h5 class='card-title'>{title}</h5>
        </a>
        <p class='card-text'>
          <small class='text-body-secondary'>{date}</small>
        </p>
        <p class='card-text'>
          {text}
        </p>
      </div>
    </div>
  </div>
</div>
