---
const props = Astro.props;
console.log("footer", props);
const { socials, seo } = props;
const rows = props.data[0].rows;
const subFooter = [
  {
    title: "Media policy",
    url: "/policy#media-policy",
    isExternal: false,
  },
  {
    title: "Privacy policy",
    url: "/policy#privacy-policy",
    isExternal: false,
  },
  {
    title: "Note legali",
    url: "/policy#legal-notes",
    isExternal: false,
  },

  {
    title: "Dichiarazione di accessibilità ",
    url: "https://form.agid.gov.it/view/xyz",
    isExternal: true,
  },
];
---

<footer class='it-footer'>
  <div class='it-footer-main'>
    <div class='container'>
      <section>
        <div class='row clearfix'>
          <div class='col-sm-12'>
            <div class='it-brand-wrapper'>
              <a href='#' data-focus-mouse='false'>
                {
                  seo?.logo ? (
                    <img src={seo.logo} height={80 } class="mx-2" alt={"logo"}/>
                  ) : (
                    <svg class='icon' aria-hidden='true'>
                      <use href='/icons/sprites.svg#it-pa' />
                    </svg>
                  )
                }
                <div class='it-brand-text'>
                  <h2>{seo.title}</h2>
                  <h3 class='d-none d-md-block'>{seo.subtitle}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      {
        rows.map((row: any, index: number) => {
          const cn = index > 0 ? "py-4 border-white border-top" : "";
          return (
            <section class={cn}>
              <row class='row'>
                {row.sections.map((section: any) => {
                  return (
                    <div class='col-lg-4 col-md-4 col-sm-6 pb-2'>
                      <h4>{section.title}</h4>
                      {section.texts && (
                        <p set:html={section.texts?.join("<br/>")} />
                      )}
                      {section.socials && (
                        <ul class='list-inline text-left social'>
                          {socials?.map((social: any) => {
                            return (
                              <li class='list-inline-item'>
                                <a
                                  class='p-2 text-white'
                                  href={social.url}
                                  target='_blank'
                                  rel='noopener noreferrer'
                                >
                                  <svg
                                    class='icon icon-sm icon-white align-top'
                                    aria-hidden='true'
                                  >
                                    <use
                                      xlink:href={`/icons/sprites.svg#it-${social.title}`}
                                    />
                                  </svg>
                                  <span class='visually-hidden'>
                                    {social.title} (link esterno)
                                  </span>
                                </a>
                              </li>
                            );
                          })}
                        </ul>
                      )}
                      {section.links && (
                        <div class='link-list-wrapper'>
                          <ul class='footer-list link-list clearfix'>
                            {section.links.map((link: any) => {
                              return (
                                <li>
                                  <a class='list-item' href={link.url}>
                                    {link.title}
                                  </a>
                                </li>
                              );
                            })}
                          </ul>
                        </div>
                      )}
                    </div>
                  );
                })}
              </row>
            </section>
          );
        })
      }
    </div>
  </div>
  <div class='it-footer-small-prints clearfix'>
    <div class='container'>
      <!-- <h3 class="visually-hidden">Sezione Link Utili</h3> -->
      <ul
        class='it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row'
      >
        {
          subFooter.map(({ url, title, isExternal }) => {
            return (
              <li class='list-inline-item'>
                <a href={url}>
                  {title}
                  {isExternal && (
                    <span class='visually-hidden'>(link esterno)</span>
                  )}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</footer>
