---
const props = Astro.props;
// console.log("header", props);
const { data, socials, seo,logo } = props;
const nav = data.nav;
// console.log("nav", nav);
---

<header class='it-header-wrapper'>
  {false && <div class='it-header-slim-wrapper'>
    <div class='container-xxl'>
      <div class='row'>
        <div class='col-12'>
          <div class='it-header-slim-wrapper-content'>
            <a class='d-none d-lg-block navbar-brand' href='#'
              >Ente appartenenza</a
            >

            <div class='it-header-slim-right-zone'>
              <div class='nav-item dropdown'>
                <a
                  class='nav-link dropdown-toggle'
                  href='#'
                  role='button'
                  data-bs-toggle='dropdown'
                  aria-expanded='false'
                >
                  <span class='visually-hidden'
                    >Selezione lingua: lingua selezionata</span
                  >
                  <span>ITA</span>
                  <svg class='icon d-none d-lg-block'
                    ><use href='/icons/sprites.svg#it-expand'></use></svg
                  >
                </a>
                <div class='dropdown-menu'>
                  <div class='row'>
                    <div class='col-12'>
                      <div class='link-list-wrapper'>
                        <ul class='link-list'>
                          <li>
                            <a class='dropdown-item list-item' href='#'
                              ><span
                                >ITA <span class='visually-hidden'
                                  >selezionata</span
                                ></span
                              ></a
                            >
                          </li>
                          <li>
                            <a class='dropdown-item list-item' href='#'
                              ><span>ENG</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='it-access-top-wrapper'>
                <!-- <a class='btn btn-primary btn-sm' href='#'>Accedi</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>}
  <div class='it-nav-wrapper'>
    <div class='it-header-center-wrapper'>
      <div class='container-xxl'>
        <div class='row'>
          <div class='col-12'>
            <div class='it-header-center-content-wrapper'>
              <div class='it-brand-wrapper'>
                <a href='/'>
                  {
                    logo ? (
                      <img src={logo} height={120 } class="mx-2" alt={"logo"}/>
                    ) : (
                      <svg class='icon' aria-hidden='true'>
                        <use href='/icons/sprites.svg#it-pa' />
                      </svg>
                    )
                  }
                  <div class='it-brand-text'>
                    <div class='it-brand-title'>{seo.title}</div>
                    <div class='it-brand-tagline d-none d-md-block'>
                      {seo.subtitle}
                    </div>
                  </div>
                </a>
              </div>
              <div class='it-right-zone'>
                <div class='it-socials d-none d-md-flex'>
                  <span>Seguici su</span>
                  <ul>
                    {
                      socials?.map((s: { title: string; url: string }) => (
                        <li>
                          <a href={s.url} aria-label={s.title} target='_blank'>
                            <svg class='icon'>
                              <use href={`/icons/sprites.svg#it-${s.title}`} />
                            </svg>
                          </a>
                        </li>
                      ))
                    }
                  </ul>
                </div>
              {false &&     <div class='it-search-wrapper'>
                  <span class='d-none d-md-block'>Cerca</span>
                  <a
                    class='search-link rounded-icon'
                    aria-label='Cerca nel sito'
                    href='#'
                  >
                    <svg class='icon'
                      ><use href='/icons/sprites.svg#it-search'></use></svg
                    >
                  </a>
                </div>}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='it-header-navbar-wrapper'>
      <div class='container-xxl'>
        <div class='row'>
          <div class='col-12'>
            <!--start nav-->
            <nav
              class='navbar navbar-expand-lg has-megamenu'
              aria-label='Navigazione principale'
            >
              <button
                class='custom-navbar-toggler'
                type='button'
                aria-controls='navC1'
                aria-expanded='false'
                aria-label='Mostra/Nascondi la navigazione'
                data-bs-toggle='navbarcollapsible'
                data-bs-target='#navC1'
              >
                <svg class='icon'>
                  <use href='/icons/sprites.svg#it-burger'></use>
                </svg>
              </button>
              <div class='navbar-collapsable' id='navC1' style='display: none;'>
                <div class='overlay' style='display: none;'></div>
                <div class='close-div'>
                  <button class='btn close-menu' type='button'>
                    <span class='visually-hidden'>Nascondi la navigazione</span>
                    <svg class='icon'>
                      <use href='/icons/sprites.svg#it-close-big'></use>
                    </svg>
                  </button>
                </div>
                <div class='menu-wrapper'>
                  <ul class='navbar-nav'>
                    {
                      nav?.map(
                        (item: {
                          title: string;
                          link: string;
                          childs?: [{ title: string; link: string }];
                        }) => {
                          if (item.childs) {
                            if (item.childs.length < 4) {
                              return (
                                <li class='nav-item dropdown'>
                                  <a
                                    class='nav-link dropdown-toggle'
                                    href='#'
                                    role='button'
                                    data-bs-toggle='dropdown'
                                    aria-expanded='false'
                                    id='mainNavDropdownC1'
                                  >
                                    <span>{item.title}</span>
                                    <svg class='icon icon-xs'>
                                      <use href='/icons/sprites.svg#it-expand' />
                                    </svg>
                                  </a>
                                  <div
                                    class='dropdown-menu'
                                    role='region'
                                    aria-labelledby='mainNavDropdownC1'
                                  >
                                    <div class='link-list-wrapper'>
                                      <ul class='link-list'>
                                        {item.childs.map(
                                          (child: {
                                            title: string;
                                            link: string;
                                          }) => (
                                            <li>
                                              <a
                                                class='dropdown-item list-item'
                                                href={child.link}
                                              >
                                                <span>{child.title}</span>
                                              </a>
                                            </li>
                                          )
                                        )}
                                      </ul>
                                    </div>
                                  </div>
                                </li>
                              );
                            } else {
                              const columns = Math.ceil(item.childs.length / 3);
                              let cols = [];
                              let count = 0;
                              while (count < columns) {
                                const index = count * 3;
                                cols[count] = item.childs.slice(
                                  index,
                                  index + 3
                                );
                                count++;
                              }

                              return (
                                <li class='nav-item dropdown megamenu'>
                                  <button
                                    type='button'
                                    class='nav-link dropdown-toggle px-lg-2 px-xl-3'
                                    data-bs-toggle='dropdown'
                                    aria-expanded='false'
                                    id='megamenu-5'
                                    data-focus-mouse='false'
                                  >
                                    <>
                                      <span>{item.title}</span>
                                      <svg role='img' class='icon icon-xs ms-1'>
                                        <use href='/icons/sprites.svg#it-expand' />
                                      </svg>
                                    </>
                                  </button>
                                  <div
                                    class='dropdown-menu shadow-lg'
                                    role='region'
                                    aria-labelledby='megamenu-5'
                                  >
                                    <div class='megamenu pb-5 pt-3 py-lg-0'>
                                      <div class='row'>
                                        <div class='col-12'>
                                          <div class='row it-heading-link-wrapper'>
                                            {cols.map((col) => (
                                              <div
                                                class={`col-12 col-lg-${12 / columns}`}
                                              >
                                                <div class='link-list-wrapper'>
                                                  <ul class='link-list'>
                                                    {col.map((link) => (
                                                      <li>
                                                        <a
                                                          class='list-item dropdown-item'
                                                          href={link.link}
                                                        >
                                                          <svg
                                                            role='img'
                                                            class='icon icon-sm me-2'
                                                          >
                                                            <use href='/icons/sprites.svg#it-arrow-right-triangle' />
                                                          </svg>
                                                          <span>
                                                            {link.title}
                                                          </span>
                                                        </a>
                                                      </li>
                                                    ))}
                                                  </ul>
                                                </div>
                                              </div>
                                            ))}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              );
                            }
                          }
                          return (
                            <li class='nav-item'>
                              <a class='nav-link' href={item.link}>
                                <span>{item.title}</span>
                              </a>
                            </li>
                          );
                        }
                      )
                    }
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
