---
import { marked } from "marked";
const { blocks, links } = Astro.props;
// import HeroDetail from "./HeroDetail.astro";

// const heroBlock = blocks.find((b: any) => b.type === "hero");
// let hero = undefined;
// if (heroBlock) {
//   hero = {
//     item: {
//       data: {
//         title: heroBlock.title,
//         description: heroBlock.text,
//         image: {
//           url: heroBlock.image,
//           alt: heroBlock.title,
//       }
//       },
//     },
//   };
// }
---

<!--
<div class='border-bottom border-2 border-secondary'>
  {links.map((b: any) => (<span class='mx-2 text-secondary'><a href={`#${b.link || b.title.split(" ").join("_")}`}>{b.title}</a></span>))}
</div>
-->
<style>
  .menu-wrap {
    display: block;
    margin: 10px;
  }
  .content-wrap {
    display: block;
  }
  .wrap {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 20em) {
    .wrap {
      flex-direction: row;
    }
  }
  .menu-wrap .nav-item {
    margin: 0 0.4rem;
  }
  @media (min-width: 20em) {
    .menu-wrap .nav-item {
      margin: 1rem 0;
    }
  }
  .nav-link:hover {
    text-decoration: underline;
  }
  .underline {
    text-decoration: underline;
  }
</style>

<div>
  <!-- {hero && <HeroDetail {...hero} />} -->
  <div class='container my-5'>
    <div class='wrap contents'>
      {
        links.length > 0 && (
          <div class='menu-wrap'>
            <h6>Indice pagina</h6>
            <ul class='link-list'>
              {links?.map((b: any) => (
                <li class='nav-item'>
                  <a
                    class='nav-link'
                    href={`#${b.link || b.title.split(" ").join("_")}`}
                  >
                    <span>{b.title}</span>
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
      <div class='content-wrap'>
        {
          blocks.map((b: any) => {
            switch (b.type) {
              case "section":
                return (
                  <div class='content-block my-5 px-5'>
                    {b.linked && (
                      <a id={`${b.link || b.title.split(" ").join("_")}`} />
                    )}
                    {b.title && <h3 class="underline">{b.title}</h3>}
                    <div set:html={marked.parse(b.body)} />
                  </div>
                );
              case "hero":
                return (
                  <div class='content-block my-5 px-5'>
                    {b.linked && (
                      <a id={`${b.link || b.title.split(" ").join("_")}`} />
                    )}
                    {b.title && <h3>{b.title}</h3>}
                    <div class='heroBlock'>
                      <img src={b.image} alt={b.alt} />
                      <div class='heroBlock-text'>
                        <h4>{b.subtitle}</h4>
                        <p>{b.body}</p>
                      </div>
                    </div>
                  </div>
                );
              case "imageBlock":
                return (
                  <div class='content-block my-5 px-5'>
                    <img src={b.image} alt={b.alt} />
                  </div>
                );
              default:
                return <div>{b.type}</div>;
            }
          })
        }
      </div>
    </div>
  </div>
</div>
